<main>
    <%= render 'partials/banner', title: "Conoceme", subtitle:"¿Quien soy?", description:"Te presento mi mundo", image:'conoceme' %>
    <div class="container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-6 text-center d-flex justify-content-center align-items-center">
            <%= image_tag('acerca/jmem-color-2.jpg', class:"img-fluid image-styled") do %><% end %>
           <!-- <div class="portrait">
                <%= image_tag('acerca/jmem.jpg', class:"img-fluid") do %><% end %>
            </div>
            -->
            
          </div>
          <div class="col-6 d-flex align-items-center flex-column justify-content-center">
              <div class="portrait mt-2">
                  <%= image_tag('acerca/jmem.jpg', class:"img-fluid") do %><% end %>
              </div>  
            <h2 class="fuente-2 pt-2 color-blue">Hola amigo...</h2>
            <p>
              Te contaré un poco sobre mí. Yo naci en la ciudad  de Tepic, Nayarit,la  cuna del mexicano. Viví muchos años en una granja a las afueras de un pequeño poblado del estado de Sonora. 
            </p>
            <p>Por muchos tiempo viví aislado del mundo y de la tecnologia, después tuve mi primer encuentro con una computadora y supe que mi vida cambiaria para siempre.</p>
            <p>Desde entonces me gustó inventar y crear mis propias reglas. Gracias a la tecnologia, eso fue mas sencillo y por eso hoy me dedico al mundo del marketing y del desarrollo web. Soy ingeniero en Sistemas Computacionales y mi pasion mas grande ademas de programar, es <strong>ayudar a las personas</strong>.</p>
           
          </div>
        </div>
        <div class="row">
           
          <div class="col-6 text-justify pt-4">
              <p>Dame un problema y amare con locura buscarle una solucion, eso es lo que hago mejor. Porque solucionar problemas es divertido al mismo tiempo que gratificante.</p>
              <p>Creo que dominar las tecnologias del internet, es indispensable hoy en dia, y me gusta creer que tengo todas estas habilidades especiales con las cuales puedo transformar la vida de los demás.</p>
              <p>Así que si necesitas ayuda, para posicionar tu marca y darle un toque especial, yo estaria encantado de potenciar tu negocio al máximo, con una vision fresca, única y de gran impacto.</p>
              <p>Dame la oportunidad de tranformar tu vida.</p>
              <a href="" class="py-4 color-blue">Atentamente: Ing. Jose Estrada</a>
              <div class="fb-comments" data-href="https://holamundoonline.com/quien-soy" data-width="" data-numposts="5"></div>
          </div>
          <div class="col-6">
              <%= image_tag('acerca/jmem-color.jpg', class:"img-fluid image-styled") do %><% end %>


              <div class="fb-comments" data-href="https://holamundoonline.com/quien-soy" data-width="" data-numposts="5"></div>
              
          </div>
        </div>
    </div>
  </div>

  <div class="spacer s2"></div>
  
</main>